body{
    background: #3ea0e2;
}
.container{
    width: 75%;
    margin: auto;
}
.row{
    clear: both;
}
.content-left{
    width: 500px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    padding: 10px;

}
.content-left::before{
content: '';
position: absolute;
width: 20px;
height: 20px;
background-color:white;
right: -10px;
transform: rotate(45deg);
top: 10%;
z-index: -1;
}

    .content-right{
        width: 500px;
        background-color: white;
        position: relative;
        border-radius: 5px;
        padding: 10px;
        float: right;
    
    }
    .content-right::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background-color:white;
    left: -10px;
    transform: rotate(45deg);
    top: 10%;
    z-index: -1;
    }
   
.headibg{
    display: inline-block;
    font-size: 25px;
}
   
.date{
    display: inline-block;
    padding-left: 200px;
    font-size: 20px;
    padding-bottom: 10px;
}
.paragraph{
    text-align: justify;
    font-size: 20px;
}
button{
    display: inline;
    background-color: #3ea0e2;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
}
.line{
    width: 5px;
    height:1580px;
    background-color:white;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 20px;
    z-index: -1;
}
.icon{
    position: absolute;
    right: -150px;
    padding: 20px;
    background-color:beige;
    border-radius: 50%;
    border: 8px solid white;
    color:  #3ea0e2;
    font-size: 25px;
 
}
.icon-right{
    position: absolute;
    left: -150px;
    padding: 20px;
    background-color:beige;
    border-radius: 50%;
    border: 8px solid white;
    color:  #3ea0e2;
    font-size: 25px;
 
}

.content{
    width: 500px;
    background-color:transparent;
    position: relative;
    border-radius: 5px;
    padding: 10px;
    float: left;

}